# Node modules (si llegás a usar Node o dependencias npm)
node_modules/

# Archivos de sistema y de editor
.DS_Store
.idea/
.vscode/

# Archivos temporales
*.log
*.tmp

# Builds (por si usás herramientas que los generan)
dist/
build/
